@import url('./variables.css');
@import url('./header.css');
@import url('./title.css');
@import url('./footer.css');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg_body);
    color: var(--body-text);
    padding-top: 48px;
}
.main-container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
.details-topics-container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
/* Course Details Styling */
.course-details{
    border: 1px solid black;
    max-width: 450px;
}
/* Course Topics Styling */
.course-topics{
    border: 1px solid black;
    max-width: 450px;
}
/*Course Side Bar Styling */
.course-sidebar{
    border: 1px solid black;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-logo {
    max-width: 80%;
    height: auto;
    margin-bottom: 15px;
}
.add-to-favorites {
    text-align: center;
    margin-top: 20px;
}


