@import url('./variables.css');
@import url('./header.css');
@import url('./title.css');
@import url('./footer.css');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg_body);
    color: var(--body-text);
    padding-top: 48px;
}
/* Main Container Styling */
.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0;
}
/* Course Details and Topics Container Styling */
.details-topics-container{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
}
/* Course Details Styling */
.course-details{
    max-width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: var(--font-size-medium);
}
.category {
    font-weight: var(--font-weight-bold);
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.course-title{
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    color: var(--brand-secondary);
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.rating{
    font-size: var(--font-size-medium);
    color: var(--star-color);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}
.rating ion-icon{
    margin-right: 0px;
}
/* Course Topics Styling */
.course-topics {
    box-shadow: 1px 1px 5px var(--lines-color);
    background-color: var(--bg_default);
    margin-top: 20px;
    max-width: 500px;
}
.topics-title{
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.topics-table {
    width: 100%;
    border-collapse: collapse;
}
.topics-table tr {
    border-bottom: 1px solid var(--lines-color);
}
.topics-table td {
    padding: 10px 15px;
    vertical-align: middle;
    font-size: var(--font-size-medium);
}
td ion-icon{
    color: var(--brand-secondary);
}
/*Course Side Bar Styling */
.course-sidebar {
    box-shadow: 1px 1px 5px var(--lines-color);
    max-height: 700px;
    max-width: 280px;
    margin-top: 20px;
    background-color: var(--bg_default);
}
.inner-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-logo {
    max-width: 100%;
}
.instructor-name {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    padding-left: 10px;
    margin-bottom: 0px;
}
/* Favorite Section Styling */
.favorite-question {
    font-size: var(--font-size-small);
}
.add-to-favorites {
    border: 1px solid var(--lines-color); 
    box-shadow: 1px 1px 5px var(--lines-color);
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/* Button styling */
.add-fav-btn {
    font-size: var(--font-size-large);
    background-color: var(--brand-secondary); 
    color: var(--bg_default);
    padding: 10px 20px;
    border: none;
    outline: none; 
    cursor: pointer; 
}
.add-fav-btn:hover {
    background-color: var(--brand-primary); 
}
.credits-info {
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-light);
    padding-left: 30%;
}
