/* Footer Style */
footer ion-icon {
    color: var(--heart-color); /* Apply the heart color */
    font-size: var(--font-size-medium);
    vertical-align: middle; /* Align the icon with the text */
}
footer {
    font-size: var(--font-size-small);
    text-align: center; /* Center the text horizontally */
    padding: 10px 0;
}