/* Header Style */
header {
    background-color: var(--bg_default);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.navbar-left-side h1 {
    margin: 0;
    font-weight: var(--font-weight-bold);
    color: var(--brand-primary);
    font-size: var(--font-size-large);
}
.navbar-right-side {
    display: flex; 
    gap: 5px; /* Space between buttons */
}
/*  Nav's Buttons Style */
.btn {
    display: flex; /* Align icon and text */
    background-color: var(--bg_default); 
    border: 1px solid var(--lines-color);
    border-radius: 5px;
    padding: 5px 10px; 
    color: var(--body-text);
}
ion-icon { /*for the icons inside the buttons */
    margin-right: 5px;
    font-size: var(--font-size-large);
}
.btn:hover {
    background-color: var(--brand-primary);
    color: var(--bg_default);
}
#dark-mode-toggle{
    color: var(--star-color);
}
#favorites-btn{
    color: var(--heart-color);
}