/* Main Title Style */
.title-section{
    background-color: var(--bg_default);
    text-align: center;
    padding-top: 0; /* Remove padding from title section */
    padding-bottom: 30px;
}
.main-title {
    padding-top: 40px;
    font-size: var(--font-size-xlarge);
    color: var(--brand-secondary);
    font-weight: var(--font-weight-bold);
    margin: 0;
}
.subtitle {
    font-size: var(--font-size-medium);
    color: var(--body-text);
    margin: 0;
    padding-top: 0;
    text-align: left;
    padding-left: calc(50% - 100px);
}