/* Main Title Style */
.title-section{
    background-color: var(--bg_default);
    text-align: center;
    padding-top: 0; /* Remove padding from title section */
    padding-bottom: 30px;
}
.main-title {
    padding-top: 40px;
    font-size: 19px;
    color: var(--brand-secondary);
    font-weight: 700;
    margin: 0;
}
.subtitle {
    font-size: 14px;
    color: var(--body-text);
    margin: 0;
    padding-top: 0;
    text-align: left;
    padding-left: calc(50% - 105px);
}