/* This file contains the CSS variables for the colors used in the webpages */
:root {
    /* Light Mode Variables */
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;

    /* New value added for the star color */
    --star-color: #FFD700;
}
