/* This file contains the CSS variables for the colors used in the webpages */
:root {
    /* Light Mode Variables */
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;

    /* New value added for the star color */
    --star-color: #FFD700;

    /* Font sizes */
    --font-size-xsmall: 0.625rem;  /* 10px */
    --font-size-small: 0.75rem;    /* 12px */
    --font-size-medium: 0.875rem;  /* 14px */
    --font-size-large: 1rem;       /* 16px */
    --font-size-xlarge: 1.125rem;  /* 18px */
    --font-size-xxlarge: 1.5rem;   /* 24px */

    /* Font weights */
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-weight-light: 200;
}
