/* Footer Style */
footer ion-icon {
    color: var(--heart-color); /* Apply the heart color */
    font-size: 14px;
    vertical-align: middle; /* Align the icon with the text */
}
footer {
    font-size: 12px;
    text-align: center; /* Center the text horizontally */
    padding: 10px 0;
}